:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --main-body-bg-color: lightgray;
  }
.form_header{
    background-color:rgb(232, 236, 241);
    text-align:left;
}
.form_wrapper{
    display:inline-block;
    background-color: rgb(232, 236, 241);
    border-radius: 10px;
    height: auto;
    padding: 5px 15px;
    margin: 5% auto;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    font-size: 1.5em; /* 30px/16=1.5em */
}
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid rgb(8, 1, 1);
    border-radius: 4px;
    color:navy;
    font-size: 36px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 30px 12px 30px;
}
body {
    background-color: var(--main-body-bg-color);
    height: 100%;
}

.modal-dialog {
    width:900px;
    height:600px !important;
}
.modal-content {
    height:100%;
    background-color:#BBD6EC;
}
.modal-body {
    overflow: scroll;
}



  
.calculator {
    border: 3px solid silver; 
    border-radius: 5px;
    position: relative;
    top: 60%;
    margin-top:30px;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color:black;
}
    
.calculator-screen {
width: 80%;
font-size: 5rem;
height: 60px;
border: solid;
background-color:white;
color: slategrey;
text-align: center;
padding-right: 20px;
padding-left: 10px;
}

.calculator-keys {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
padding: 20px;
}

#displayID {
text-align:center;
border-radius: 5px;
}

.calculator-keys button {
height: 60px;
border-radius: 5px;
border: 1px solid #c4c4c4;
background-color: silver;
font-size: 1.5rem;
color:blue;
background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
    background-color: gray;
color:blue !important;
}
button:disabled {
    background-color:gray;
}
.operator {
color: #337cac;
}
  
.all-clear {
background-color: #f0595f;
border-color: #b0353a;
color: #fff;
}

.enter-key {
background-color:silver;
border-color:green;
color: #fff;
}

.all-clear:hover {
background-color: #f17377;
}
  
.equal-sign {
background-color: #2e86c0;
border-color: #337cac;
color: #fff;
height: 100%;
grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
background-color: #4e9ed4;
}


/* iPad portrait */
@media (min-width: 768px) {
    .parent {
        display: grid;
        width:100%;
        height:100%;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 70px 50px 600px 50px;
        grid-template-areas:"hdgArea"
                            "locationArea"
                            "memberNameArea"
                            "machinesArea"
                            "footerArea";
        grid-gap:0em;
        background-color: lightgray;               
    }
    .areaToPrint {
        display:none;
    }
   
    #heading {
        grid-area: hdgArea;
        width:100%;
        padding-top: 0px;
        padding-bottom:0px;
        text-align: center;
        background-color:navy;
        color: var(--main-txt-color);
    }
    #location {
        grid-area: locationArea;
        margin:auto;
        margin-top:0px;
        text-align: center;
        background-color: navy;
        color:white;
        width:100%;
    }
    .setPrintChoice {
        float:right;
    }
    tbody {
        padding-top:20px;
       
    }
    tbody td {
        position:relative;
        top:2rem;
    }
    
    .selectBtn {
        margin-left:20px;
        margin-right:40px;
        padding-top:0px;
        padding-bottom: 3px;
        height:25px;
    }
    .expirationMsg {
        margin-left:20px;
    }
    #nameSection {
        grid-area: memberNameArea;
        width:50%;
        margin:auto;
        margin-top:20px; 
        font-size:3rem;
        padding-top:0px;
        color:navy;
        display:block;
    }
    
    #machinesSection {
        grid-area: machinesArea;
        width:90%;
        height:600px;
        margin:auto;
        margin-top:50px;
        overflow:auto;
        padding-right:20px;
        border:1px solid navy;
    }
    .expired {
        text-decoration: line-through;
        background-color: yellow;
    }
    
    #footer {
        grid-area: footerArea;
        width:100%;
        text-align: center;
    }

}
@media print {
    .parent {
        background-color: white;
    }
    
    .areaToPrint {
        display:block;
    }
    .screenOnly {
        display:none;
    }
/* 
    .ticket {
        display: grid;
        width:100%;
        height:100%;
        grid-template-columns: 1fr;
        grid-template-areas:    "ticketTitleArea",
                                "ticketDateArea",
                                "ticketNameArea",
                                "ticketMachineDescArea",
                                "msgLinesArea",
                                "listOfNamesArea";
        grid-gap:0em;
        background-color: white;
        color:black;          
    }
     */
    #ticketTitle {
        grid-area:ticketTitleArea;
        text-align: center;
        font-size: 4rem;
    }

    #ticketDate {
        grid-area:ticketDateArea;
        text-align: center;
        font-size: 4rem;
    }
    #ticketName {
        grid-area:ticketNameArea;
        text-align: center;
        font-size:4rem;
    }

    /* #ticketBody {
        grid-area:ticketBodyArea;
        color:black;
        padding-top:5px;
        padding-left:15px;
        padding-right: 0px;
        margin-top:50px;
        width:100%;
        margin:auto;
        font-size: 6rem;
        border:2px solid black;
    } */
    
    #ticketMachineDesc {
        grid-area:ticketMachineDescArea;
        text-align: center;
        font-weight: 400;
        font-size:5rem;
        border:3px solid black;
        margin-left:5px;
        margin-right:5px;
    }

    /* .machineName {
        font-weight: 700;
        font-size: 9rem;
        border:2px solid black;
        width:50%;
    } */
    .msgLines {
        grid-area:msgLinesArea;
        margin:auto;
    }
    .msgLine1 {
        font-size:2rem;
        background-color: lightgray;
    }
    .msgLine2 {
        font-size:4rem;
        background-color: gray;
    }
    .toolCribMsg {
        font-size:5rem;
    }
    .listOfNames {
        grid-area:listOfNamesArea;
        border:1px solid black;
        font-size: 4rem;
    }
    #ticketKeyNumber {
        font-size:4rem;
    }
    .kpRow {
        text-align:center
    }
    .kpMsgRow{
        margin-left:200px;
    }
    .kpMsgLine {
        text-align: left;
        font-size:2rem;
    }
    .kpName {
        font-size: 4rem;
        text-align:left;

        border:1px solid black;
    }
    .kpInShopNow {
        font-size: 2rem;
        text-align:right;
        border:1px solid black;
        padding-top: 0px;
        height:100px;
        line-height: 100px;
    }
    .asstMsg {
        font-size: 3rem;
        text-align: left;
    }
    .asstName {
        font-size: 4rem;
        text-align: left;
        border:1px solid black;
    }
    .asstInShopNow {
        font-size: 3rem;
        text-align: left;
        height: 100px;
        line-height: 100px;
        border:1px solid black;
    }

    /* #ticketFooter {
        grid-area: footerArea;
        width:100%;
        text-align: center;
        font-size: 6rem;
    } */
 
}

