

/* Tablet portrait layout (default) */
@media only screen and (min-width: 768px){
    body {
        background-color: var(--main-body-bg-color);
        height: 100%;
    }
}
    .parent {
        display: grid;
        width:25%;
        height:100%;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 100px;
        grid-template-areas:"hdgArea"
                            "ticketBodyArea"
                            "footerArea";
        grid-gap:0em;
        color:black;             
    }
    #heading {
        grid-area: hdgArea;
        display:grid;
        width:100%;
        padding-top: 0px;
        padding-bottom:0px;
        text-align: center;
        color: black;
    }

    #ticketBody {
        grid-area:ticketBodyArea;
        color:black;
        padding-top:5px;
        padding-left:0px;
        padding-right: 0px;
        margin-top:50px;
        width:100%;
        text-align: center;
        margin:auto;
        border: 1px solid black;
        /* display:none; */
    }
    
    #footer {
        grid-area: footerArea;
        width:100%;
        text-align: center;
    }
 
.modal-dialog {
    width:900px;
    height:600px !important;
}
.modal-content {
    height:100%;
    background-color:#BBD6EC;
}
.modal-body {
    overflow: scroll;
}