{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block app_content %}

<div class="parent">
    <div class="hdg">
        <div class="title">
            <div><h2>LIGHTSPEED INTERFACE</h2></div>
        </div>
        <div class="version">
            <h3>ver. Sep 15, 2021</h3>
        </div>  
    </div>
    <div>
        <h6>Members without a lightspeed ID (or not in Lightspeed database) -  {{withoutLightspeedID}}</h6>
    </div>
    <div id="printReportBtns">
        <div id="column1">
            <div>
                <button id='updatelightspeedID' type="button" class='btn btn-sm btn-primary' onclick='updatelightspeedID()'>Update VWC DB w/Lightspeed IDs</button>
            </div>
            <div id="location" style=margin-top:20px>
                <form class = "filterItems "></form>
                    <label for="shopChoice">Location: </label>
                    <select id="shopChoice" name="shopList" style="height: 25px;font-size: 1em;">
                        <option id='shop1' value="RA">Rolling Acres</option>
                        <option id='shop2' value="BW">Brownwood</option>
                    </select>
                </form>
            </div>
        </div>
   
        <div id="column2">
            
            <!-- <h6>daily send eMail changes</h6>
            <h6>receive dues/initiation Transactions; compare to membership records</h6>
            <h6>List Recent Sales</h6> -->
            <div>
                <label for="lightspeedID">Lightspeed ID - </label>
                <input type="text" id="lightspeedID" style=width:50px value = ''>
            </div>
            <div>
                <button type="button"
                    class='btn btn-sm btn-primary' 
                    style=width:250px 
                    onclick='retrieveCustomerByLightspeedID()'>
                    Display Data In Lightspeed Database</button>
            </div>
            <br>
            <br>
            <button type="button" class='btn btn-sm btn-primary' onclick='addCustomer()'>Test Add Customer</button>
        </div>

        <div id="column3">
            <div id="memberOptions" style=margin-top:20px>
                <select id="selectpicker" class='selectpicker' style='margin-bottom:20px' title='Find a member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                {% for n in nameDict %}
                    <option 
                        class="optName" 
                        value='{{n.memberName}}' 
                        data-lightspeedID='{{n.lightspeedID}}'
                        data-memberID='{{n.memberID}}'
                    </option>{{n.memberName}}</option>
                {% endfor %}
                </select>
                <input id='memberID' type="hidden" value=''>
            </div>
            <div class="memberReports">
                <!-- PRINT BUTTONS TO PROVIDE LINKS TO ROUTES -->
                <ul style="list-style-type:none;">
                    <li><button id='getCustByPythonID' class='btn btn-primary' disabled onclick="retrieveCustomerByVillageID()">Display selected customer</button></li>
                    <li>{{lsID}}{{memberName}}{{villageID}}</li>
                    <li><button id='prtTransactionsID'  onclick='listTransactions()' type="button" class='btn btn-sm btn-primary'>List Member's Sales Transactions</button></li>
                    
                    <!-- <li><button id='getCustBYjsID' class='btn btn-primary' disabled onclick='retrieveCustomerJS()'>Retrieve a customer (via js)</button></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>  <!-- END OF PARENT WRAPPER -->


<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-   labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=text-align:center>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
