{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}
{% block app_content %}

<div class="parent screenOnly">
    <!-- HEADING SECTION -->
    <div id="heading">
        <h2 style="text-align:center">Machine Request</h2>
        <h3 style="text-align:center">{{todaysDate}}</h3>
	</div>

	<div id="location">
		<div id='locationID' style="font-size:2rem;text-align: center;">Rolling Acres</div>	
		<button id="changeLocation" class="btn btn-sm btn-secondary" onclick="shopLocationChange()">Click to change location</button>
	</div>
    
	<div id="notFoundID" >{{notFoundMsg}}</div>

    <div id='keypadID' class="keypad">
        <div id="displayID">
          <input id="memberInput" type="text" autofocus="autofocus" class="calculator-screen" maxlength='6' placeholder="" value="">
        </div>
      
        <div class="calculator-keys">
          
          <button type="button" value="1">1</button>
          <button type="button" value="2">2</button>
          <button type="button" value="3">3</button>
      
          <button type="button" value="4">4</button>
          <button type="button" value="5">5</button>
          <button type="button" value="6">6</button>
      
          <button type="button" value="7">7</button>
          <button type="button" value="8">8</button>
          <button type="button" value="9">9</button>
      
          <button type="button" class="all-clear" value="all-clear">CLR</button>
          <button type="button" value="0">0</button>
          <button id="enterKey" type="button" class="enter-key" value="enter">Enter</button>
      
        </div> <!-- END OF calculator-KEYS -->
      </div>  <!-- END OF KEYPAD -->   

	</div>
    <div id="footer">
        <!-- <button id="clearBtn">CLEAR</button> -->
    </div>
</div>  <!-- END OF PARENT WRAPPER -->

<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-   labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=width:fit-content>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL FORM FOR APPLICATION START UP SETTINGS (bootstrap?)-->
<div id="settingsModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class='modal-title'> 
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					<br>
					<h4>The Villages Woodworkers Club</h4>
				</div>
			</div>
			
				<div class="modal-body">
					<h5 style="text-decoration: underline;">START UP SETTINGS</h5>
					<form action="">
						<p style='text-align: left'>
							<label>Year to display -</label>
							<input id='yearDefault' type="text" style="width:50px; color:blue;font-weight: bold; " placeholder = '20xx'>
						</p>
						<p style='text-align: left'>
							<label>Location - </label> 
							<select id="shopDefault" name="shopDefault" style="height: 
							25px;font-size: 1em;">
								<option id='selectAshop' value="">Select a location ...</option>
								<option id='shop1' value="RA">Rolling Acres</option>
								<option id='shop2' value="BW">Brownwood</option>
							</select>
						</p>
					</form>
				</div>
				<div class="modal-footer">
			<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
			</div> 
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
