{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}
{% block app_content %}

<div class="parent">
    <!-- HEADING SECTION -->
    <div class="heading">
        <h2>Machine Certification</h2>
    </div>

    <!-- VERSION SECTION -->
    <div class="version">
        <h5>ver. Apr 1, 2022</h5>
    </div>  
      
    <!-- SELECTION AREA -->
    
    <!-- locations -->
    <div class="locations">
        <form class = "filterItems ">
            <label for="shopChoice">Location: </label>
            <select id="shopChoice" name="shopList" style="height:25px; width:150px; font-size: 1em;">
                <option id="both" value="BOTH" >Both</option>
                <option id='RA' value="RA">Rolling Acres</option>
                <option id='BW' value="BW">Brownwood</option>
            </select>
        </form>
    </div>

    <!--list of machines -->
    <div class="machines">
        <!-- <label for="machineSelected">Machine data: </label> -->
        <select 
            id='machineSelected' 
            title='Select a machine ...' 
            data-live-search=true 
            data-live-search-style="contains" 
            data-width='auto'>
            <option class="optMachines" value="">Select a machine ...</option>
            {% for m in machineList %}
                console.log({{m.machineDisplayName}})
                <option 
                    class="optMachineName" 
                    data-machineID={{m.machineID}} 
                    data-location={{m.machineLocation}} 
                    value='{{m.machineDisplayName}}'>
                    {{m.machineDisplayName}}
                </option>
            {% endfor %}
        </select>
    </div>

    <!--list of members -->
    <div class="members" >
        <!-- <label for="memberSelected">Member data: </label> -->
        <select 
            id='memberSelected' 
            class='memberSelection' 
            title='Select a member ...' 
            data-live-search=true 
            data-live-search-style="contains" 
            data-width='auto'>
            <option class="optMembers" value="">Select a member ...</option>
            {% for mbr in memberList %}
                <option  
                    class="optMembers" 
                    data-villageID={{mbr.villageID}}
                    value={{mbr.memberDisplayName}}>
                    {{mbr.memberDisplayName}}
                </option>
            {% endfor %}
        </select>
    </div>
    
     <!--list of instructors -->
     <div class="instructors" >
        <!-- <label for="instructorSelected">Instructor data: </label> -->
        <select 
            id='instructorSelected' 
            class='instructorSelection' 
            title='Select an instructor ...' 
            data-live-search=true 
            data-live-search-style="contains" 
            data-width='auto'>
            <option class="optInstructors" value="">Select an instructor ...</option>
            {% for i in instructorList %}
                <option  
                    class="optinstructors" 
                    data-villageID={{i.villageID}}
                    value={{i.instructorDisplayName}}>
                    {{i.instructorDisplayName}}
                </option>
            {% endfor %}
        </select>
    </div>

    <div id="machineSection">
        <div style="text-align:center">MACHINE SECTION</div>
        <div id="machineInstructorsAndMembers">
            <!-- MACHINE INSTRUCTORS -->
            <div id="machineInstructors">Instructors</div>
            <!-- MEMBERS CERTIFIED -->
            <div id="membersCertified">Members Certified</div>
        </div>
    </div>

    <div id="memberSection">
        <div style="text-align:center">MEMBER SECTION</div>
        <!-- MEMBERS CERTIFIED FOR THIS MACHINE -->
        <!-- last, first (nick)  member ID -->


        <!-- MEMBER DATA -->
        <!-- last, first (nick)  member ID -->
        <!-- home phone -->
        <!-- mobile phone -->
        <!-- email -->

        <!-- LIST ALL MACHINES WITH CHECKBOX FOR MEMBER IS CERTIFIED -->
        <!-- checkbox    machineID    machineDesc    machineLocation -->
    </div>  
    
    <div id="instructorSection">
        <div style="text-align:center">INSTRUCTOR SECTION</div>
        <!-- MEMBERS OF machineCertificationStaff -->
        <!-- last, first (nick)  member ID -->

        <!-- INSTRUCTOR DATA -->
        <!-- last, first (nick)  member ID -->
        <!-- home phone -->
        <!-- mobile phone -->
        <!-- email -->

        <!-- LIST ALL MACHINES WITH CHECKBOX FOR WHICH INSTRUCTOR MAY CERTIFY -->
        <!-- checkbox    machineID    machineDesc    machineLocation -->
    </div>  
</div>  <!-- END OF PARENT WRAPPER -->


<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-   labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=width:fit-content>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
